.DrawerToggle {
    width: 40px;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 2px;
    background-color: black;
}

@media (min-width: 799px) {
    .DrawerToggle {
        display: none;
    }
}
